.textarea {
  display: block;
  width: 720px;
  height: 150px;
  margin: 20px auto 20px;
  font-size: 22px;
  resize: none;
  &::-webkit-scrollbar {width:0px;}
}

input[type="text"], textarea {
  background-color : rgba(211, 211, 211, 0);
  border: 2px solid rgb(0, 0, 0);
}

.keyboard {
  width: 720px;
  margin: 0 auto;
  padding: 5px 5px 0 0;
  background: rgba(0, 0, 0, 0.59);
  border: 3px solid #222222;
  border-radius: 5px;
}

html {
  background-color: #c2c2c2;
}

.caseDown,
.caseUp,
.shiftCaps,
.caps {
  display: block;
  min-height: 40px
}

.hidden {
  display: none
}

.description,
.language,
.title {
  margin: 10px auto;
  text-align: center
}

.title {
  font-size: 30px;
  color: rgba(101, 134, 177, 0.8);
  -webkit-text-stroke: 1px rgba(114, 177, 101, 0.8);
  -webkit-text-fill-color: rgba(101, 134, 177, 0.8)
}


.keyboard .row {
  clear: both;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}


.keyboard .key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: rgba(58, 4, 4, 0);
  border: 3px solid #ffc4c4;
  cursor: pointer;
  user-select: none;
  //transition: border-radius 0.3s, background-color 0.3s
  transition: all ease-in-out 0.2s;
}

.keyboard .key:hover {
  background: #8f8f8f
}

.keyboard .key:active {
  background-color: rgba(138, 138, 138, 0.46);
  border: 3px solid rgba(183, 183, 183, 0.92);
  border-radius: 12px 0 12px 0;
}
.keyboard .key.active {
  background-color: rgba(138, 138, 138, 0.46);
  border: 3px solid rgba(183, 183, 183, 0.92);
  border-radius: 12px 0 12px 0;
}

.keyboard .key.Caps {
  background-color: rgba(138, 138, 138, 0.46);
  border: 3px solid rgba(183, 183, 183, 0.92);
  border-radius: 12px 0 12px 0;
}

.keyboard .AltLeft,
.keyboard .AltRight,
.keyboard .ArrowUp,
.keyboard .ArrowLeft,
.keyboard .ArrowDown,
.keyboard .ArrowRight,
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ControlLeft,
.keyboard .ControlRight,
.keyboard .Delete,
.keyboard .Enter,
.keyboard .ShiftLeft,
.keyboard .ShiftRight,
.keyboard .Tab,
.keyboard .MetaLeft {
  font-weight: 600;
  background-color: #383838
}

.keyboard .Tab {
  width: 50px
}

.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ShiftLeft {
  width: 100px
}

.keyboard .Delete {
  width: 44px
}

.keyboard .Enter,
.keyboard .ShiftRight {
  width: 86px
}

.keyboard .Space {
  width: 330px
}
